@()(implicit authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, request: Request[_])

    @main_template(title = "", bodyClasses = None) {
        <h1>Welcome to the new HMRC online</h1>
        <p>We’re changing the HMRC website to make it more consistent with the rest of GOV.UK.</p>
        <p>The changes won’t affect how you manage and pay taxes.</p>


        <a  id="continue-button"
            href="@ExternalUrls.businessTaxAccountUrl"
            class="button"
            data-journey-click="welcome:Click:Continue">
                Continue
        </a>
    }