@()(implicit authContext: uk.gov.hmrc.play.frontend.auth.AuthContext, request: Request[_])

    @main_template(title = "", bodyClasses = None) {
        <h1>Welcome to the new HMRC online</h1>
        <p>HMRC online is changing. You'll find all the tools and services you use here in your tax account.</p>
        <p>The changes don’t affect how your services operate, they just make them more consistent with the GOV.UK website. Your feedback will help improve the site further.</p>


        <a  id="continue-button"
            href="@ExternalUrls.businessTaxAccountUrl"
            class="button"
            data-journey-click="welcome:Click:Continue">
                Continue
        </a>
    }